@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url();
}

header {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 30px;
  border: 1px solid grey;
  background-color: #146e68;
}

h5 {
  margin-top: 10px;
  font-weight: 50;
}
* {
  margin: 0;
  padding: 0;
}

#side {
   font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 140px;
  float: left;
  width: 170px;
  color: black
  font-size: 15px;
  padding-left: 5px;
}

#grid {
  margin-left: 180px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
