header {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 30px;
  border: 1px solid grey;
  background-color: #02343f;
  margin-bottom: 20px;
  color: #f0edcc;
}

#title_main {
  text-decoration: none;
  color: white;
}

body {
  background-color: #f0edcc;
  color: #02343f;
  text-decoration: none;
}
h5 {
  margin-top: 10px;
  font-weight: 50;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}

#grid {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  position: absolute;
  top: 22%;
  left: 3%;
}

#side {
  border-right: 1px solid black;
}
#side_text {
  text-decoration: none;
  color: #02343f;
}

#article_all {
  margin-left: 30px;
}

li {
  list-style: none;
}
